menu "LIMITZ servo MS-12A"

	config LMTZ_MS12A_NUM_SERVOS
		int "Number of servos"
		default 3
	
	config LMTZ_MS12A_UART
		int "UART: port"
		default 1
		
	config LMTZ_MS12A_BAUDRATE
		int
		prompt "UART: Baudrate"
		default 115200
	
	config LMTZ_MS12A_PIN_RX
		int "UART: RX pin"
		default 17

	config LMTZ_MS12A_PIN_TX
		int "UART: TX pin"
		default 15


	config LMTZ_MS12A_RX_BUFFER_SIZE
		int "UART: RX buffer size"
		default 1024

	config LMTZ_MS12A_TX_BUFFER_SIZE
		int "UART: TX buffer size"
		default 0

	config LMTZ_MS12A_TASK_STACK_SIZE
		int "UART: Task stack size"
		default 2048

	config LMTZ_MS12A_TASK_QUEUE_SIZE
		int  "UART: Task queue size"
		default 10
endmenu
